server {
  listen 80;

  location / {
    {% if upstream.bauth_enable is defined and upstream.bauth_enable -%}
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;
    {% endif -%}
    proxy_pass http://{{ _dp__docker_gw_ip.stdout }}:{{ upstream.port }};
  }
}
